body{
    background: url(answers_back.jpg);
    background-size: cover;
    backdrop-filter: blur(1px) opacity(50%);
}

.back{
    height: 100vh;
    background-color: rgba(1, 94, 48, 0.25);
}

.quiz{
    height: 20vh;
    font-size: 2em;
    color: floralwhite;
    background-color: rgb(32, 110, 32);
    text-decoration: none;
    border-radius: 10px;
    outline: none;
    border: 1px solid rgba(187, 187, 187, 0.438);
}

.quiz:hover{
    animation: keep 2s forwards;
}

@keyframes keep{
    0%{
        background-color: rgb(32, 110, 32);
    }
    100%{
        background-color: rgb(1, 68, 1);
    }
}